.rowSelected{
    background-color:steelblue;
    color:#ffffff;
}
.bp-greater-amp{
    background-color:#eaf218;
}
.result-row-selected{
    background-color:steelblue;
    color:#ffffff;
}
.warningText{
    font-size: 12px;
    color: red;
    font-weight: bold;
}